<%= form_for @ads_item do |f| %>
  
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

<div class="field">
    <%= f.label :text %>
    <%= f.text_area :image_url %>
    
  <div class="field">
    add an image....
    <%= f.file_field :image_file %>
  </div>
end