<%= form_for :ads_items, url: ads_items_path do |f| %>
  <% if @ads_item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@ads_item.errors.count, "error") %> prohibited
        this ads_items from being saved:
      </h2>
      <ul>
        <% @ads_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h1>Edit ad items</h1>
<a href=/ads_items/new class="btn btn-primary">new ad</a>
  <div class="row">
    <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-3">
      <div class="card" style="width: 30rem;"> 
        <div class="card-block">
          <img class="card-img-top img-fluid" src="<%= @ads_item.image %>" alt="Card image cap">
          <textarea name="textarea" rows="2" cols="50"><%= @ads_item.image %></textarea>
          <h4 class="card-title">Title: </h4>
          <textarea name="textarea" rows="1" cols="50"><%= @ads_item.title %></textarea>
          <p class="card-title">Text: </p>
          <textarea name="textarea" rows="2" cols="50"><%= @ads_item.text %></textarea>
          <h4 class="card-text"><%= f.submit %></h4>
          </div>
      </div>
    </div>
  </div>
<% end %>
<%= link_to 'Back', ads_items_path %>