<div class="container">
  <h1>Ads board</h1>
  <div><%= link_to 'New ad', new_ads_item_url, :class => "btn btn-primary" %></div>
  <div class="row">
    <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-3">
      <form> 
       <%= form_for @ads_item, html: { multipart: true } do |f| %>
          <% if @ads_item.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@ads_item.errors.count, "error") %> prohibited
                            this ads_items from being saved:
              </h2>
              <ul>
                <% @ads_item.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :title %><br>
            <%= f.text_field :title, :class => 'form-control', :placeholder =>"Enter title" %>
          </div>
          <div class="form-group">
          <div class="field">
              <%= f.label :images %>
              <%= f.file_field :images, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :text %><br>
            <%= f.text_area :text, :class => 'form-control' %>
          </div>
          <button type="f.submit" class="btn btn-primary">Submit</button>
        <% end %>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-3">
      <% @ads_items.each do |item| %>
        <div class="card">
          <div class="card-block">
            <div class="card mb-3">
              <%= image_tag(item.images[0].url.to_s, class: "card-img-top", alt: "Card image cap") %>
                <div class="card-block">
                  <h4 class="card-title"><%= item.title %></h4>
                  <p class="card-text"><%= item.text %></p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to 'Show', ads_item_url(item), :class => "btn btn-primary" %>
              <%= link_to 'Edit', edit_ads_item_url(item), :class => "btn btn-primary" %>
              <%= link_to 'Delete', ads_item_url(item), method: :delete,
                                 data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
  </div>
</div>