<% if current_user %>
  <div class="row">
    <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-3">
      <%= form_for @ads_item, url: {action: :create}, html: { multipart: true } do |f| %>
        <% if @ads_item.errors.any? %>
          <div id="error_explanation">
            <p class="lead">
              <%= pluralize(@ads_item.errors.count, "error") %> prohibited
                          this post from being saved:
            </p>
            <ul class="list-unstyled">
              <% @ads_item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="card card-outline-primary"> 
          <div class="card-block">
          <h1><%="#{t('new_ad')}"%></h1>
            <div class="form-group">
              <%= t 'title' %><br>
              <%= f.text_field :title, :class => 'form-control', :placeholder => "#{t 'enter_title'}" %>
            </div>
            <div class="form-group">
              <div class="field">
                <%= t 'images' %>
                <%= f.file_field :images, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
              </div>
            </div>
            <div class="form-group">
              <%= t 'text' %><br>
              <%= f.text_area :text, :class => 'form-control' %>
            </div>
            <div class="form-group">
              <%= t 'approval_date' %><br>
              <%= f.datetime_local_field :approval_date, :class => 'form-control',
                type: "datetime-local", value: Time.now.strftime("%FT%R") %>
            </div>
            <button type="f.submit" class="btn btn-primary"><%= t 'buttons.submit'%></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
<% end %>
<div class="row">
  <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-3">
    <h1><%="#{t('ads_board')}"%></h1>
    <nav aria-label="Page navigation example">
      <%= paginate @ads_items %>
    </nav>
    <% @ads_items.each do |item| %>
      <% if current_user.try(:admin?) %>
        <% if item.approved != true  %>
          <div class="card card-outline-primary">
            <div class="card-block">
              <%= link_to(item) do %>
                <% if item.images.empty? %>
                  <img src="http://zametki.by/wp-content/themes/easymag/images/no-image.png" class="card-img-top img-fluid" alt="Card image" >
                <% else %>
                  <%= image_tag(item.images.first.url.to_s, class: "card-img-top img-fluid mx-auto d-block", alt: "Card image") %>
                <% end %>
              <% end %>
              <h4 class="card-title">
                <%= link_to(item) do %>
                  <%= item.title %>
                <% end %>
              </h4>
              <p class="card-text"><%= item.text %></p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <%= link_to "#{t('buttons.show')}", ads_item_url(item), :class => "btn btn-primary" %>
                  <%= link_to "#{t('buttons.edit')}", edit_ads_item_url(item), :class => "btn btn-primary" %>
                <%= link_to "#{t('approve')}", ads_item_set_approve_url(item), method: :patch, :class => "btn btn-success" %>
                <%= link_to "#{t('buttons.delete')}", ads_item_url(item), method: :delete,
                data: { confirm: "#{t('are_you_sure')}" }, :class => "btn btn-danger" %>
              </div>
            </div>
            <div class="card-footer">
              <% if item.user %>
                <small class="text-muted"><%= t 'send_at' %> <%= item.user.email %></small>
              <% else %>
              <% end %>
              <small class="text-muted">at <%= item.approval_date.strftime("%d.%m.%Y %H:%M") %></small>
            </div>
          </div>
        <% else %>
        <% end %>
      <% end %>
      <% if item.approved == true %>
        <div class="card card-outline-secondary">
          <div class="card-block">
            <%= link_to(item) do %>
              <% if item.images.empty? %>
                <img src="http://zametki.by/wp-content/themes/easymag/images/no-image.png" class="card-img-top img-fluid" alt="Card image" >
              <% else %>
                <%= image_tag(item.images.first.url.to_s, class: "card-img-top img-fluid mx-auto d-block", alt: "Card image") %>
              <% end %>
            <% end %>
            <h4 class="card-title">
              <%= link_to(item) do %>
                <%= item.title %>
              <% end %>
            </h4>
            <p class="card-text"><%= item.text %></p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to "#{t('buttons.show')}", ads_item_url(item), :class => "btn btn-primary" %>
              <% if current_user == item.user || current_user.try(:admin?) %>
                <%= link_to "#{t('buttons.edit')}", edit_ads_item_url(item), :class => "btn btn-primary" %>
                <%= link_to "#{t('buttons.delete')}", ads_item_url(item), method: :delete, data: { confirm: "#{t('are_you_sure')}" }, :class => "btn btn-danger" %>
              <% else %>
              <% end %>
            </div>
          </div>
          <div class="card-footer">
            <% if item.user %>
              <small class="text-muted"><%= t 'published_by' %> <%= item.user.email %></small>
            <% else %>
            <% end %>
            <small class="text-muted">at <%= item.approval_date.strftime("%d.%m.%Y %H:%M") %></small>
          </div>
        </div>
      <% end %>
    <% end %>
    <nav aria-label="Page navigation example">
      <%= paginate @ads_items %>
    </nav>
  </div>
</div>
