
<%= form_for @ads_item, html: { multipart: true } do |f| %>
  
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>



  <div class="field">
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
  </div>
  <button type="f.submit" class="btn btn-primary">Submit</button>
<% end %>