<h1>New ad</h1>
  <div class="row">
    <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-3">
      <div class="card" style="width: 30rem;"> 
        <% if @ads_item.errors.any? %>
            <div id="error_explanation">
            <h2>
              <%= pluralize(@ads_item.errors.count, "error") %> prohibited
              this ads_items from being saved:
            </h2>
            <ul>
              <% @ads_item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
      <%= form_for @ads_item, url: ads_items_path do |f| %>
      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_area :title %>
      </div>
      <div class="form-group">
        <label for="f.image">File input </label>
        <input type="file" class="form-control-file" id=@ads_item aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">or you can used URL of your image</small>
      </div>
      <div class="form-group">
        <%= f.label :image %><br>
        <%= f.text_area :image %>
      </div>
      <div class="form-group">
        <%= f.label :text %><br>
        <%= f.text_area :text %>
      </div>
      <button type="f.submit" class="btn btn-primary">Submit</button>
      <% end %>
    </div>
  </div>
</div>
 
<%= link_to 'Back to index', ads_items_path %>