<div class="row">
  <div class="col-sm-12 offset-sm-0 col-md-6 offset-md-3">
    <h1><%="#{t ('user_page')}"%></h1>
    <%= image_tag(current_user.avatar.url(:medium)) %>
    <% current_user.ads_items.reverse.each do |item| %>
      <div class="card">
        <div class="card-block">
          <%= link_to(item) do %>
            <% if item.images.empty? %>
              <img src="http://zametki.by/wp-content/themes/easymag/images/no-image.png" class="card-img-top img-fluid" alt="Card image" >
            <% else %>
              <%= image_tag(item.images.first.url.to_s, class: "card-img-top img-fluid mx-auto d-block", alt: "Card image") %>
            <% end %>
          <% end %>
          <h4 class="card-title">
            <%= link_to(item) do %>
              <%= item.title %>
            <% end %>
          </h4>
          <p class="card-text"><%= item.text %></p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to "#{t('buttons.show')}", ads_item_url(item), :class => "btn btn-primary" %>
            <%= link_to "#{t('buttons.edit')}", edit_ads_item_url(item), :class => "btn btn-primary" %>
            <%= link_to "#{t('buttons.delete')}", ads_item_url(item), method: :delete, data: { confirm: "#{t('are_you_sure')}" }, :class => "btn btn-danger" %>
          </div>
        </div>
        <div class="card-footer">
          <% if item.approved == true && item.user %>
          <small class="text-muted">published by <%= item.user.email %></small>
          <small class="text-muted">at  <%= item.approval_date.strftime("%d.%m.%Y %H:%M") %></small>
        <% else %>
          <small class="text-muted">send by <%= item.user.email %></small>
          <small class="text-muted">at  <%= item.updated_at.strftime("%d.%m.%Y %H:%M") %></small>
        <% end %>
      </div>
    <% end %>
  </div>
</div>