<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <% if user_signed_in? %>
        <li><a class="nav-link disabled" href="#"><%= current_user.email %></a></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
      <% else %>
        <li><%= link_to 'Log In', new_user_session_path, class: 'nav-link'  %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link'  %></li>
      <% end %>
    </ul>
    <%= link_to 'Ads Board', root_path, class: 'navbar-brand' %>
  </nav>
</div>
