<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <% if user_signed_in? %>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <%= link_to "#{t 'admin_page'}", rails_admin_url, :class => "btn btn-secondary" %>
          <%= link_to "#{current_user.email}", ads_items_user_page_url(@ads_items), :class => "btn btn-secondary" %>
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=t 'language'%></button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><%= link_to "#{t 'eng'}", locale: :en, :class => "dropdown-item" %></li>
            <li><%= link_to "#{t 'rus'}", locale: :ru, :class => "dropdown-item" %></li>
          </div>
          <%= link_to "#{t 'log_out'}", destroy_user_session_path, method: :delete, :class => "btn btn-secondary" %>
         </div>
       <% else %>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <%= link_to "#{t 'log_in'}", new_user_session_path, :class => "btn btn-secondary"  %>
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=t 'language'%></button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><%= link_to "#{t 'eng'}", locale: :en, :class => "dropdown-item" %></li>
            <li><%= link_to "#{t 'rus'}", locale: :ru, :class => "dropdown-item" %></li>
          </div>
          <%= link_to "#{t 'sign_up'}", new_user_registration_path, :class => "btn btn-secondary"  %>
        </div>
      <% end %>
    </ul>
    <%= link_to 'Ads Board', root_path, :class => 'navbar-brand' %>
  </nav>
</div>
